<!-- Transparency Section -->
<section id="transparency">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Transparency</h2>
                <h3 class="section-subheading text-muted">Honest, Open, and Accountable</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <h4 class="text-muted">Ownership</h4>
                <p class="large text-muted">
                    EOS SoCal is fully owned and funded by Cesar Diaz. Our aim is to contribute independent value to the EOSIO community through unbiased opinion in order to maximize decentralization of governance to the network.
                </p> 
                <h4 class="text-muted">Code of Conduct</h4>
                <p class="large text-muted">
                    EOS SOCAL is a group established in Southern California whose mission is to support the launch and long term success of EOSIO... <a href="https://steemit.com/eos/@eos-socal/eos-socal-statement-of-values-code-of-conduct-community-benefit-timeline-and-more" target="_blank">Read More</a>
                </p> 
                <h4 class="text-muted">BP.JSON</h4>
                <p class="large text-muted">
                    Our bp.json, as standarized and recognized by the community, <a href="/bp.json" target="_blank">is accessible here</a>.
                </p> 
                <h4 class="text-muted">Regproducer</h4>
                <p class="large text-muted">
                    When a candidate registers to be a block producer, they agree to the regproducer ricardian contract. We agree to that contract and have <a href="/regproducer.txt" target="_blank">republished it here for all to see</a>.
                </p> 
                <h4 class="text-muted">Decision Process</h4>
                <p class="large text-muted">
                    Our decision making process is based on independent internal debate based on objective and subjective information received.
                </p>
                <h4 class="text-muted">Position on Constitution</h4>
                <p class="large text-muted">
                    We aim to abide by smart contracts and programming of network participants, in the absence of proven systemic bugs. We are in fully support of <a href="https://block.one/news/block-ones-proposal-for-eos-constitution-v2-0/" target="_blank">constitution V2 as proposed by block.one</a>.
                </p>
            </div>
        </div>
    </div>
</section>

    